[CLI]
# quality = low_quality
# video_dir= C:\\Users\\maxdu\\My Drive\\Coding\\manim_projects\\tidyverse\\manim\\media\\lq

quality = fourk_quality
# video_dir= C:\\Users\\maxdu\\My Drive\\Coding\\manim_projects\\tidyverse\\manim\\media\\4k
